name: Tag releases with minor and major version

on:
  release:
    types: [published, edited]

permissions:
  contents: read
  
  


jobs:
  tag-v1:
    permissions:
      contents: write
      pull-requests: write
      actions: write
    name: Tag v1
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Update tag
        run: |
          major_tag="$(python .github/get_version.py "${GITHUB_REF}" major)"
          minor_tag="$(python .github/get_version.py "${GITHUB_REF}" minor)"
          git tag $major_tag
          git tag $minor_tag
          git push origin HEAD:refs/heads/main --tags --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
