name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read



jobs:
  test:
    permissions:
      pull-requests: write
      issues: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}
          persist-credentials: false
      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: "3.11.2"

      - name: install dependencies
        id: install-deps
#        continue-on-error: true
        run: |
          python3 -m pip install --user pipx
          python3 -m pipx ensurepath || pipx ensurepath 
          sudo pipx ensurepath || true
          pipx install poetry
          poetry config virtualenvs.create true || echo "poetry config failed" && exit 1
          poetry install --no-interaction --no-root || poetry install . || echo "poetry install failed" && exit 1
          source .venv/activate & pytest main_tests.py --cov-report=xml || pytest main_tests.py --cov-report=xml  
          
#      - run: pytest main_tests.py --cov-report=xml
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@6d798873df2b1b8e5846dba6fb86631229fbcb17 # v4.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: true
